{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>Messagerie</h1>
                <h2>{{ message.title }}</h2>
                <p>Message envoyé à {{ message.recipient.email }}</p>
                <p>{{ message.createdAt|date }}</p>
                <div>{{ message.message }}</div>
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Voir mes dossiers
                </a>
                <a href="{{ path("received") }}" class="btn btn-primary">Retourne à la boite de réception</a>
            </div>
        </div>
    </section>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes Dossiers</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("app_messages") }}" class="list-group-item list-group-item-action ">Acceuil</a>
            </div>
            <div class="list-group">
                <a href="{{ path("received") }}" class="list-group-item list-group-item-action active">Boite de réceptions</a>
            </div>
            <div class="list-group">
                <a href="{{ path("received") }}" class="list-group-item list-group-item-action ">Eléments envoyés<envoyés> </envoyés></a>
            </div>
        </div>
    </div>
{% endblock %}
